@page "/callback"
@model Example.JavaScriptClient.CallbackModel
@{
    ViewData["Title"] = "Callback";
}

<h1>Callback</h1>
@section Scripts{
    <script src="~/js/oidc-client.js"></script>
    <script>
        new Oidc.UserManager({ response_mode: "query" }).signinRedirectCallback().then(function () {
            window.location = "/";
        }).catch(function (e) {
            console.error(e);
        });
    </script>
}

